.section {
  position: fixed;
  inset: 0;

  overscroll-behavior: none;
  touch-action: pan-x;

  opacity: 0;
  visibility: hidden;

  z-index: -1;

  transform: translateY(0);

  transition:
    transform .7s cubic-bezier(.22,1,.36,1),
    opacity .6s ease;

  overflow-y: auto;
}

.section.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

/* scroll down */
.enter-from-bottom {
  transform: translateY(60px);
  animation: enterBottom .7s forwards;
}

.leave-to-top {
  animation: leaveTop .7s forwards;
}

/* scroll up */
.enter-from-top {
  transform: translateY(-60px);
  animation: enterTop .7s forwards;
}

.leave-to-bottom {
  animation: leaveBottom .7s forwards;
}

@keyframes enterBottom {
  from {
    opacity: 0;
    transform:
      translateY(60px)
      scale(.98);
  }

  to {
    opacity: 1;
    transform:
      translateY(0)
      scale(1);
  }
}

@keyframes leaveTop {
  from {
    opacity: 1;
    transform:
      translateY(0);
  }

  to {
    opacity: 0;
    transform:
      translateY(-50px)
      scale(.99);
  }
}

@keyframes enterTop {
  from {
    opacity: 0;
    transform:
      translateY(-60px)
      scale(.98);
  }

  to {
    opacity: 1;
    transform:
      translateY(0)
      scale(1);
  }
}

@keyframes leaveBottom {
  from {
    opacity: 1;
    transform:
      translateY(0);
  }

  to {
    opacity: 0;
    transform:
      translateY(50px)
      scale(.99);
  }
}